.qtext {
    margin-bottom: 15px;
}

p {
    max-width: 100%;
    height: auto;
}

img {
    max-width: 100%;
    height: auto;
}

.sqlquestion_relatedconcepts {
    margin-bottom: 15px;
}

.sqlquestion_data {
    margin-bottom: 15px;
}

.sqlquestion_instructions {
    margin-bottom: 15px;
}

.sqlquestion_solution {
    margin-bottom: 15px;
}

.sqlquestion_heading {
    font-size: 18px;
    color: #005687;
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: bold;
}