.qtext {
    margin-bottom: 15px;
}

.sqlquestion_relatedconcepts {
    margin-bottom: 15px;
}

.sqlquestion_data {
    margin-bottom: 15px;
}

.sqlquestion_code {
    margin-bottom: 15px;
}

.sqlquestion_resultdata {
    margin-bottom: 15px;
}

.sqlquestion_subjectivedifficulty {
    margin-bottom: 15px;
}

.sqlquestion_objectivedifficulty {
    margin-bottom: 15px;
}

.sqlquestion_decreaseattempt {
    margin-bottom: 15px;
}

.sqlquestion_mingrade {
    margin-bottom: 15px;
}

.sqlquestion_solution {
    margin-bottom: 15px;
}

.sqlquestion_heading {
    font-size: 18px;
    color: #005687;
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: bold;
}